<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DriverSchoool.Properties.Settings.driverSchoolConnectionString"
            connectionString="Data Source=DESKTOP-K18DDCG\SQLEXPRESS;Initial Catalog=driverSchool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DriverSchoool.Properties.Settings.ne_nadoConnectionString"
            connectionString="Data Source=DESKTOP-MECSP3M\SQLEXPRESS;Initial Catalog=ne_nado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>